.converter-title {
    font-size: 30px;
}
.converter-text-input {
    width: 48%;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-appearance: textfield;
}
.converter-text-input::-webkit-outer-spin-button,
.converter-text-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}