.fa-sort-asc {
    color: green;
}
.fa-sort-desc {
    color: red;
}
.fa-star-o, .fa-star{
    color: #fff200;
}
.currency-table {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}
.currency-table td{
    vertical-align: middle;
}
.button-cell {
    width: 8%;
}